body {
	padding: 0 50px;
	font-family: sans-serif;
}
h2.page-title {
	color: #b461f3;
	text-align: center;
}
.form-row {
	display: flex;
	justify-content: center;
	margin: 20px 10px;
	align-items: center;
	flex-wrap: wrap;
}
.wrapper {
	position: relative;
	margin: 0 10px;
}
input {
	width: 150px;
	padding: 10px;
	border: 0;
	border-bottom: 1px solid black;
	outline: none;
	color: royalblue;
	background: transparent;

}
input:focus {
	border-bottom: 1px solid #59f559;
}
input + span {
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    text-align: center;
    z-index: -1;
    transition: all 0.3s;
    width: 100%;
    color: #add8ff;
}
input:focus + span, input:valid + span {
	font-size: 12px;
	top: -10px;
	font-weight: 900;
	color: #0095ce;
}
.filter {
    text-align: center;
    border: 1px solid #5aa1df;
    border-radius: 5px;
    color: #5aa1df;
    font-weight: 900;
    cursor: pointer;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 1px 2px;
    padding: 8px 15px;
}
.filter:hover {
	background: #bbdfff;
}
.filter.selected {
	background: #5aa1df;
	color: white;
}
.delete-row {
	cursor: pointer;
	font-weight: 900;
	margin-left: 5px;
	height: 20px;
	text-align: center;
	color: maroon;
	border: 1px solid #df8e8e;
	border-radius: 3px;
	padding: 0 8px;
}
.delete-row:hover {
	border-color: maroon;
	background: maroon;
	color: white;
}
.add {
    display: inline-flex;
    padding: 0 60px;
    margin: 0 10px;
    flex-flow: row wrap;
    align-content: center;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid #08f;
    color: #08f;
    border-radius: 3px;
}
.add:hover {
	background: #08f;
	color: white;
}
button {
	cursor: pointer;
	width: 200px;
	padding: 10px;
	background: #41bd46;
	border: 1px solid green;
	color: white;
	border-radius: 5px;
	font-weight: 900;
}
button:hover {
	box-shadow: 0px 0px 10px 3px #59f559;
}
.body-head {
	margin: 10px 0;
}
.body-head .note {
	background: #ffffbf;
	padding: 10px 20px 1px;
}
.body-head .note .note-heading {
	font-weight: 900;
	font-size: 17px;
	position: relative;
}
.body-head .note .note-heading span {
    width: 10px;
    display: block;
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    transform: rotateZ(-45deg);
	transition: transform 0.5s;
	cursor: pointer;
}
.body-head .note.collapsed .note-heading span {
	transform: rotateZ(45deg);
}
.body-head .note .note-content {
	max-height: 500px;
	transition: all 0.5s;
	overflow: hidden;
}
.body-head .note.collapsed .note-content {
	max-height: 0;
}
.body-head .info {
	display: none;
	margin: 10px 0;
	color: #008bf9;
}
.availability-title {
	display: none;
}
.availability-data {
	margin-bottom: 10px;
	position: relative;
}
.next-timestamp {
	display: none;
	text-align: center;
	margin: 25px;
	color: #e89600;
	font-weight: 900;
}
.tile {
	border-radius: 10px;
	padding: 5px 10px;
	margin: 5px 0;
}
.tile.green {
	background: #ddffdd;
	border: 1px solid green;
	box-shadow: 2px 2px 5px darkgreen;
	color: darkgreen;
}
.tile.red {
	background: pink;
	border: 1px solid red;
	box-shadow: 2px 2px 5px darkred;
	color: darkred;
}
.tile .summary {
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}
.tile.green .summary {
	background: green;
}
.tile.red .summary {
	background: maroon;
}
.tile .row {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.tile .row span {
	text-align: center;
	text-transform: capitalize;
	position: relative;
}
.tile .row .name {
	width: 200px;
}
.tile .row .name span:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    display: inline-block;
}
.tile .center-row {
	display: flex;
	border-top: 1px solid #b2ff58;
}
.tile .center-row .name .paid {
    background: yellow;
    border: 1px solid orange;
    font-size: 10px;
    display: block;
    height: 13px;
    width: 13px;
    position: absolute;
    border-radius: 100%;
    font-weight: 900;
    text-align: center;
    color: orange;
    top: -5px;
    right: 0;
    cursor: help;
}
.tile .center-row span.partition {
    border-left: 1px solid #6be16b;
    height: 12px;
    margin: auto;
}
.tile a {
	background: #37bfff;
	border-radius: 25px;
	color: white;
	text-decoration: none;
	text-align: center;
	width: 200px;
	box-shadow: 0px 0px 5px black;
	vertical-align: middle;
	font-weight: 900;
	margin: 5px auto 0;
	padding: 5px;
}
.tile a:hover {
	box-shadow: 0px 0px 10px blue;
}
